html,
body,
#viewDiv {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.highlight-ui {
  background-color: rgba(255,255,255,0.5);
}

#infoDiv {
  position: absolute;
  top: 95px;
  right: 10px;
  bottom: 30px;
  width: 220px;
  background-color: rgba(125,155,155,0.5);
  padding: 10px;
  font-family: sans-serif;
  font-size: 1.2em;
  color: #fff;
  font-style: italic;
}